/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&family=VT323&display=swap');

:root {
  --font-regular:'IBM Plex Mono', monospace;
  --font-special:'VT323', monospace;

  --bg-primary: #0d3082ff;
  --bg-secondary: #2784b9ff;
  --color-primary: rgba(227, 230, 255, 0.968);
  --color-secondary: #b3a8a8ff;
  --color-accent:#70ae6eff;
}


/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  font-family: var(--font-regular);
}

.logoDiv{
  font-family: var(--font-special);
  font-size: 2rem;
  color: var(--color-accent);
}


.cover-container {
  background-image: url('../images/keyboard.jpg');
  background-size: cover;
}

.coverText {
  text-align: right!important;
  min-height:90vh;
  margin-top: 100px;
  margin-right: 100px;
  color:var(--color-primary);
}

.sectionTitleContainer {
  background-color:var(--color-secondary);
  color: black;
  border-radius: 15px;
}

#about, #technologies, #projects, #contact {
  background-color:var(--color-accent);
  color: black;
  border-radius: 15px; 
  margin-top: 2rem;
  margin-bottom: 2rem;
}


nav {
  background-color:var(--bg-primary);
  color: var(--color-secondary);
  border-radius: 15px; 

}

.card {
  color:black;
}



nav{
  background-color: rgb(7, 125, 189);
}

.modal-body {
  text-align: left;
}

.card-link {
  text-decoration: none;
  color: var(--color-accent);
  font-size: 1.2rem;
  
}

.card-link:hover {
  font-size: 1.3rem;
  font-weight: bolder;
  color:var(--color-accent);

}

.btn {
  background-color: var(--bg-secondary);
}

.btn:hover {
  background-color: var(--color-accent);
  font-size:1.3rem;
}

ul {
  list-style-type: none;
}
