@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&family=VT323&display=swap");

:root {
  --font-regular: "IBM Plex Mono", monospace;
  --font-logo: "VT323", monospace;

  --rich-black-fogra-29: #001219ff;
  --blue-sapphire: #005f73ff;
  --viridian-green: #0a9396ff;
  --middle-blue-green: #94d2bdff;
  --medium-champagne: #e9d8a6ff;
  --off-white: rgb(47, 193, 223);
}
body {
  background-color: var(--rich-black-fogra-29);
  font-family: var(--font-regular);
  color: var(--viridian-green);
}

/* Navbar */
.navbar {
  background-color: var(--rich-black-fogra-29);
}
.navbar-brand {
  font-family: var(--font-logo);
  font-size: 2rem;
  color: var(--middle-blue-green) !important;
}
.nav-link {
  color: var(--viridian-green) !important;
}
.nav-link:hover {
  color: var(--medium-champagne) !important;
  border-bottom: 3px solid var(--middle-blue-green);
}

/* Home page */
#home {
  background-image: url("../images/keyboard.jpg");
  background-size: cover;
}

/* All sections */
.section-title {
  background-color: var(--blue-sapphire);
  color: var(--middle-blue-green);
  border-radius: 7px;
  font-weight: 400;
  box-shadow: 0 3px 10px var(--medium-champagne);
}

/* About Me section */
.card-img-top {
  height: 300px;
  object-fit: cover;
}
.about-card {
  background-color: var(--rich-black-fogra-29);
  color: var(--medium-champagne);
}

/* Technologies */
.techText {
  color: var(--medium-champagne);
}

/*  Project section */
.project-card {
  background-color: var(--blue-sapphire);
  border-radius: 7px;
  box-shadow: 0 3px 10px var(--medium-champagne);
}
.card-title {
  font-size: 1.4rem;
  color: var(--medium-champagne);
  font-weight: 700!important;
}
.project-card-text {
  color: var(--off-white);
}

.tech-button-div {
  display:flex;
  justify-content: center;
  padding: 15px 0;
}

.techButton {
  background-color: var(--rich-black-fogra-29);
  color: var(--middle-blue-green);
  font-size: 1.3rem;
}
.techButton:hover {
  color: var(--medium-champagne);
}

.social-buttons-div {
  display:flex;
  justify-content: center;
}

.socialBtn{
  color: var(--rich-black-fogra-29);
  font-size: 1.3rem;
}
.socialBtn:hover {
  color: var(--medium-champagne);
}

/* Contact */
/* Note
you want on hover to change at the same time*/
svg, .contactText {
  color: var(--viridian-green);
}

svg:hover, .contactText:hover {
  color: var(--medium-champagne);
}

.modal-content{
  background-color: var(--blue-sapphire);
  color:var(--off-white);
}

.modal-title {
  color: var(--medium-champagne);
}


